{% extends "timetable/base.html" %}
{% block content %}
    {% block header %}
    {% endblock %}

    {% block horizontal_times %}
    {% endblock

    <div>
        <div class="admin-timetabled-lesson">
            <p>CompSci</p>
            <p>13A</p>
            <p>SEG</p>
            <p>IT1</p>
        </div>
        <div class="admin-timetabled-lesson">
            <p>FM</p>
            <p>13B</p>
            <p>JAS</p>
            <p>R20</p>
        </div>
        <div class="admin-timetabled-lesson">
            <p>History</p>
            <p>13B</p>
            <p>ADF</p>
            <p>R19</p>
        </div>
    </div>
{% endblock %}