{% extends "timetable/base.html" %}
{% block content %}
    <div class="container">
        <h1 class="text-center mt-4">Timetabling</h1>
        <p class="text-center mt-3 mb-4">Choose one of the options to proceed to the appropriate interface</p>
        <div class="text-center">
            <a href="/student" class="w-100"><button class="btn btn-primary">Student</button></a>
            <a href="/teacher"><button class="btn btn-primary">Teacher</button></a>
        </div>
    </div>
{% endblock %}