{% extends "timetable/base.html" %}
{% block content %}
    <div class="container">
        <h1 class="text-center mt-4">Welcome Back</h1>
        <p class="text-center mt-3 mb-4">What would you like to do?</p>
        <div class="text-center">
            <a href="/teacher/timetable" class="w-100"><button class="btn btn-primary">View your Timetable</button></a>
            <a href="/teacher/scheduled"><button class="btn btn-primary">Schedule Lessons</button></a>
        </div>
    </div>
{% endblock %}