{% extends "timetable/base.html" %}
{% block content %}
    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
            <a href="#" class="nav-link px-0"><</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link px-0">Mon</a>
        </li>
        <li class="nav-item mx-0">
            <a href="#" class="nav-link px-0">Tue</a>
        </li>
        <li class="nav-item active">
            <a href="#" class="nav-link px-0">Wed</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link px-0">Thu</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link px-0">Fri</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link px-0">></a>
        </li>
    </ul>

    <div>
        {% for lesson in lessons %}
        <div class="timetabled-lesson subject-{{forloop.counter}} card">
            <div class="card-body">
                <h5 class="card-title">{{lesson.0}}</h5>
                <p class="card-text mb-1">{{lesson.1}}</p>
                <p class="card-text mb-1">{{lesson.2}}</p>
                <p class="card-text">{{lesson.3}}</p>
            </div>
        </div>
        {% endfor %}

    </div>
    {% if user.user_type == 'teacher' %}
        <a class="text-danger ml-2" href="/">Back to Home</a><br>
    {% endif %}
    <a class="text-danger ml-2" href="/logout">Logout</a>
{% endblock %}