{% extends "timetable/base.html" %}
{% block content %}
    <ul class="nav nav-tabs nav-fill">
        {% for day, link in weekdays_links.items %}
        <li class="nav-item">
            {% if link == 'disabled' %}
            <a href="#" class="nav-link disabled px-0">{{day}}</a>
            {% else %}
            <a href="?day={{link}}" class="nav-link px-0{% if weekday_format == day %} active{%endif%}">{{day}}</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    <div>
        {% if not lessons %}
        <p class="text ml-2 mt-2">You have no lessons on this day</p>
        {% endif %}

        {% for lesson in lessons %}
        <div class="timetabled-lesson subject-{{forloop.counter}} card">
            <div class="card-body">
                <h5 class="card-title">{{lesson.0}}</h5>
                <p class="card-text mb-1">{{lesson.1}}</p>
                <p class="card-text mb-1">{{lesson.2}}</p>
                <p class="card-text">{{lesson.3}}</p>
            </div>
        </div>
        {% endfor %}

    </div>
    {% if user.user_type == 'teacher' %}
        <a class="text-danger ml-2" href="/">Back to Home</a><br>
    {% endif %}
    <a class="text-danger ml-2" href="/logout">Logout</a>
{% endblock %}