{% extends "timetable/base.html" %}
{% block content %}
    {% block header %}
    {% endblock %}

    <div>
        <div class="timetabled-lesson">
            <p>Computer Science</p>
            <p>Mr Grapefruit</p>
            <p>IT1</p>
            <p>09:00 - 10:55</p>
        </div>
        <div class="timetabled-lesson">
            <p>Physics</p>
            <p>Mr Gherkin</p>
            <p>IT1</p>
            <p>11:20 - 12:15</p>
        </div>
        <div class="timetabled-lesson">
            <p>Physics</p>
            <p>Miss Corriander</p>
            <p>IT1</p>
            <p>12:20 - 13:15</p>
        </div>
        <div class="timetabled-lesson">
            <p>Further Maths</p>
            <p>Mr Beetroot</p>
            <p>IT1</p>
            <p>14:30 - 15:25</p>
        </div>
        <div class="timetabled-lesson">
            <p>Chess Club</p>
            <p>Mr Watermelon-Tomato</p>
            <p>R4</p>
            <p>16:45 - 17:45</p>
        </div>
    </div>
{% endblock %}