{% extends "timetable/base.html" %}
{% block content %}
    <h1 class="m-4">Scheduled Lessons</h1>
    {% for lesson in lessons %}
    <div class="card my-2 mx-4 {% if lesson.fixed %}scheduled{% else %}bg-light{% endif %}">
        <div class="card-body">
            <p class="float-left mb-0">{{lesson.topic}}</p>
            <p class="float-right mb-0">{{lesson.duration}}</p>
        </div>
    </div>
    {% endfor %}
    {% if not enough %}
    <div class="card my-2 mx-4 bg-warning">
        <h5 class="mx-2 mt-2">Not enough lessons scheduled</h5>
        <p class="mx-2">You must always have some lessons scheduled in advance. If not enough are scheduled, 55-minute lessons will be automatically scheduled.</p>
    </div>
    {% endif %}
    <a href="/teacher/schedule"><button class="btn btn-info ml-4 mt-2">New Lesson</button></a>
    <a href="/" class="text-danger">Back to home</a>
{% endblock %}